<h2>Signup Form</h2>
<hr />
<p class="lead">Please fill in this form to create an account as a benefactor</p>


<form ng-submit="sendBenefactorData()">
    <div class="container-fluid main-panel">
        <div class="container">
            <!--<label for="name">Name:</label> <input ng-model="Benefactor.name" type="text" placeholder="Name" name="name" required> <br />
            <label for="surname">Surname:</label> <input ng-model="Benefactor.surname" type="text" placeholder="Surname" name="surname" required> <br />-->
            <label for="companyName">Company Name:</label> <input ng-model="Benefactor.company" type="text" placeholder="Company Name" name="companyName" required> <br />
            <label for="email">Email:</label> <input ng-model="Benefactor.email" type="text" placeholder="Email" name="email" required> <br />
            <label for="number">Telephone Number:</label> <input ng-model="Benefactor.phone" type="tel" placeholder="Telephone number" name="number" required> <br />
            <label for="number">Mobile Number:</label> <input ng-model="Benefactor.mobile" type="tel" placeholder="Mobile number" name="number" required> <br />

            <div>
                <p>
                    Select service offered:
                    <select ng-model="Benefactor.service" name="select" value="services">
                        <option>a</option>
                        <option>b</option>
                        <option>c</option>
                    </select>
                </p>
            </div>
            <button type="submit">Submit</button> <button type="reset"> Cancel </button>
        </div>
    </div>
</form>

