<h2>List of Requests</h2>
<hr />

<div class="container">
    <table>
        <tr>
            <th>Description</th>
            <th>NGO</th>
            <th>Contribute</th>
        </tr>
        <tr ng-repeat="item in requestList">
            <td>{{item.Description}}</td>
            <td>{{item.NGO}}</td>
            <td>
                <button ng-click="contribute(item)">Provide</button>
            </td>
        </tr>
    </table>
</div>

<div class="links">
    <a href="#ngo">NGOs</a> | <a href="#ngo">Benefactors</a>
</div>
