<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>title</title>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> <!--TODO: Reduce/Cache-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="css/stylesheet.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid main-panel">
		  <div class="container">
			<h2>Sign up</h2>
			<hr/>
			<p> Please fill in this form to create an account as a benefactor </p>
			<hr/>
			<label for="name">Name:</label> <input type="text" placeholder="Name" name="name" required> <br/>
			<label for="surname">Surname:</label> <input type="text" placeholder="Surname" name="surname" required> <br/>
			<label for="email">Email:</label> <input type="text" placeholder="Email" name="email" required> <br/>
			<label for="number">Company Phone No:</label> <input type="tel" placeholder="Company Phone No" name="number" required> <br/>
			<label for="number">Mobile Phone No:</label> <input type="tel" placeholder="Mobile Phone No" name="number" required> <br/>
			<label for="companyName">Company Name:</label> <input type="text" placeholder="Company Name" name="companyName" required> <br/>
			
			
		  </div>
		</div>  
	
	</body>


</html>

