<h2>Request Service</h2>
<hr />
<p class="lead">Tick the industries needed.</p>

<form id="userRequestsForm">

    <div ng-repeat="userRequest in UserRequests">
        <label><input type="checkbox" ng-model="ChosenUserRequests.selected[$index]" ng-true-value="'{{userRequest}}'" ng-false-value="''">{{userRequest}}</label>

    </div>

    <textarea rows="4" cols="50" placeholder="Provide further details here..."></textarea>

    <br />



    <br />

    <button type="reset" id="resetButton">Reset</button>
    <button type="submit" id="submitButton" ng-click="SubmitForm()">Submit</button>
</form>