<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>title</title>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> <!--TODO: Reduce/Cache-->
		
	</head>
	<body>
	<nav class="heading">
		<h1 class="app-title">PROJECT NAME</h1>
		<!-- <span class="menu"><i class="fas fa-bars"></i></span> -->
	</nav>
	<div class="container-fluid main-panel">
		  <div class="container">
			<h2>Home</h2>
			<hr/>
			<p class="lead">Welcome to the xxx platform.</p>
			<p class="lead">This platform connects those in need with NGOs and businesses willing to help.</p>
		  </div>
		  <div class="buttons">
			<button class="big">HELP ME!</button>
		  </div>
		  <div class="links">
			<a href="#ngo">NGOs</a> | <a href="#ngo">Benefactors</a>
		  </div>
	</div>
	<div class="footer">
		<span class="footer-text">&copy; 2019 - Vodafone Malta Foundation | Hackathon March 2019 | Call Stax</span>
	</div>
	
	</body>
</html>