<h2>List of Onboarding Beneficiary Requests</h2>
<hr />

<div class="container">
    <table>
        <tr>
            <th>Date</th>
            <th>Service Needed</th>
            <th>Accepeted</th>
        </tr>
        <tr ng-repeat="item in BenefeciaryRequests">
            <td>{{item.Date}}</td>
            <td>{{item.ServiceNeeded}}</td>
            <td><input type="checkbox" ng-model="item.Accepted" />
        </tr>
    </table>
</div>

<div class="links">
    <a href="#ngo">NGOs</a> | <a href="#ngo">Benefactors</a>
</div>
