<h2>List of Onboarding Beneficiary Requests</h2>
<hr />

<div class="container">
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>Identifier</th>
				<th>Service Needed</th>
				<th>Accept</th>
			</tr>
			<tr ng-repeat="item in BenefeciaryRequests">
				<td>{{item.Id.substring(0,10)}}</td>
				<td>{{item.ServiceNeeded}}</td>
				<td><button ng-click="contribute(item)">Verify</button></td>
			</tr>
		</table>
	</div>
</div>

<div class="links">
    <a href="#ngo">NGOs</a> | <a href="#ngo">Benefactors</a>
</div>
